.click-catcher {
  overflow-y: auto;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0,0,0,.7);
  z-index: 100;
  opacity: 0;
}

.click-catcher-media-wrapper {
  margin: 2em auto;
  max-width: 45em;
  position: relative;
  z-index: 200;
  width: 100%;
  height: auto;
  display: block;
}


